{% extends 'main.html' %}
{% load static %}
{% block title %}Unique Riydah{% endblock title %}

{% block body %}
 <section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-30 pt-5 pb-11 m-3 border-radius-lg">
      <span class="mask color-home"></span>
      <div class="container  pt-7 ">
        <div class="row d-flex justify-content-center ">
          <div class="col-lg-5 col-12 mx-auto ">
            <h1 class="home-txt">Creative Digital Marketing Agency
With Out Of the box solutions!</h1>
<p class="txt-sub pt-7 pt-lg-2">Innovative Storytelling, Effective Digital Marketing Outreach.</p>
          </div>
          <div class="col-lg-5 col-12 pt-5 pt-lg-0">
          <img src="{% static 'images/back.png' %}" class="img-fluid"/>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
       <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
          <div class="card z-index-0 head-card">
            <div class="card-header align-items-center ">
              <h5 class="txt-head text-center pt-3 pt-lg-0">Quality,  Is A Title</h5>
            </div>
            <div class="card-body align-items-center">
            <p class="sub-title text-center">
            Enjoy Unique Riyadh with distinctive marketing that helps you to advance your business and enables you to reach your customers at any time through Ejada for e-marketing by providing the best distinguished services that suit all your needs and help you increase your sales.
            </p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-3">
       <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
          <div class="card z-index-0 middle-card">
            <div class="card-header middle-card">
              <h5 class="middle-card-txt text-center pt-3 pt-lg-0">Build your own dreams</h5>
              <p class="middle-sub-txt">Or someone else will hire you to build theirs.
Here is how you can take action – starting today.</p>
            </div>
            <div class="card-body align-items-center">
              <img src="{% static 'images/Slide.png' %}" class="img-fluid"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-3">
       <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
          <div class="card z-index-0 bottom-card">
            <div class="card-header">
              <h5 class="bottm-head-txt text-center pt-3 pt-lg-0">Our Previous Work</h5>
              <p class="bottom-sub-txt">We have made quality our habit.
It’s not something that we just strive for
we live by this principle every day. </p>
            </div>
            <div class="card-body align-items-center">
              <img src="{% static 'images/bottom.png' %}" class="img-fluid"/>
            </div>
          </div>
        </div>
      </div>
      </div>


    </div>
  </section>

{% endblock body %}


